
* {box-sizing: border-box}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--praymary-color); 
    margin: 0 auto;
    padding: 0;
}
.mySlides {display: none}

:root{
    --praymary-color:white;
    --secondary-color:black;
    
}
.drack-thim{
    
    --praymary-color:black;
    --secondary-color:white;
    
}
/* -----------------------------------------------Nav Section--------------------------------------------- */
header{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    top: 0;
}
.container{
    position: relative;
}
.top{
    height: 30px;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
}
.top ul{
    display: flex;
    margin-left: 80px;
}
.top ul li{
    list-style: none;
    margin-top: -10px;
}
.top ul li a{
    text-decoration: none;
    color: url;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}
.top-style{
    height: 40px;
    width: 50%;
    background-color: greenyellow;
    margin-left: 50%;
    margin-top: -90px;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    position: relative;
}
.top-style button{
    height: 20px;
    width:100px ;
    display: inline-block;
    margin-left: 40%;
    margin-top: 10px;
}
.top-style ul{
    display: flex;
    margin-left: 100px;
}
.top-style ul li{
    list-style: none;
    
}
.top-style ul li a{
    text-decoration: none;
    color: var(--praymary-color);
    margin-left: 10px;
    
}
body{
    margin: 0 auto;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: var(--praymary-color);
    color: var(--secondary-color);
    height: 60px;
    border: 2px solid cyan;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li{
    list-style: none;
   padding-top: 3px;
   
}
.demo{
    display: flex;
}
.second-demo{
    display: inline-block;
    text-align: center;
    width: 122px;
    height: 30px;
}
#pTag{
    margin-top: 19px;
    background-color: var(--praymary-color);
    padding: 3px;
    border: 1px solid cyan;
}
nav h1{
    margin-top: 56px;
    height: 56px;
    width: 103px;
    background-color: var(--praymary-color);
    border: 2px solid cyan;
    border-style: none solid solid solid;
}
nav h1 img{
    height: 100px;
    width: 100px;
    margin-top: -39px;
}
#check{
  display: none;
}
/* .active{
    background-color: var(--praymary-color);
    color: var(--secondary-color);
} */
/* ----------------------------------------------------Home------------------------------ */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  width: 100%; 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/*                       img                    */
img{
    position: sticky;
    vertical-align: middle;
    cursor: pointer;
}
.lorem{
    padding:15px 150px 50px 150px;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.356);
    z-index: -1;
    margin-top: -300px;
    color: var(--secondary-color);
}
.computerTecnology{
    background-color: darkslategrey;
    color: white;
    height: 210px;
    width: 100%;
    margin-top: 100px;
    
}
.left-style{
    height: 50px;
    width: 40%;
    background-color:greenyellow ;
    border-radius: 0% 50px 0% 0%;
    margin-top: -265px;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}
.all-sit{
    padding: 0px 120px;
    display: flex;
}
.left-sit{
    padding: 45px;
}
.rit-sit{
    padding:5px 20px 5px 10px;
}
.rit-sit img{
    height: 200px;
    
}

/* -----------------------------------------History part---------------------- */
.History-all{
    height: 100%;
    width: 100%;
    padding-top: 330px;
    color: var(--secondary-color);
}
.left-style{
    height: 50px;
    width: 40%;
    background-color:greenyellow ;
    border-radius: 0% 50px 0% 0%;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}
.left-style h1{
    margin-left: 90px;
}
.all-sit{
    padding: 0px 120px;
    display: flex;
}
.left-sit{
    padding: 45px;
}
.rit-sit{
    padding:5px 20px 5px 10px;
}
.rit-sit img{
    height: 200px;
    
}
/* ----------------------------------------------------Techers section-------------------------------------------- */
.techers{
    margin: 0px 150px;
}
.all-sit2 {
    display: block;
}

.all-sit2 .part{
    display: flex;
    
}
.all-sit2 .part .all-dep img{
    height: 200px;
    width: 285px;
    
    
}
.all-sit2 .part .all-dep{
    width: 285px;
    margin: 30px; 
    height: 350px;
    box-shadow: 0.5px 0.5px 5px 0.1px;
    background-color: var(--praymary-color);
    border-radius: 10px 10px 0px 0px;
    transition: all 0.5s;
    
}
.all-sit2 .part .all-dep:hover{
    background-color: rgba(177, 214, 214, 0.527);
    transition: all 0.5s;
}
.all-sit2 .part .all-dep h2{
    margin: 10px 20px;
}
.all-sit2 .part .all-dep p{
    margin: 0px 20px;
}
.all-sit2 .part .all-dep  button{
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(25, 184, 196);
    font-size: 15px;
}
.principle{
    align-items: center;
    justify-content: center;
}
/* --------------------------------------------staffs---------------------------------------------------------- */
.staff table tr td{
    height: 50px;
    width: 350px;
    background-color:rgba(175, 174, 174, 0.199);
    padding-left: 20px;
}
.staff table tr td img{
    height: 50px;
    width: 50px;
}
/* ------------------------------------------------------------Notish---------------------------------------------- */
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    margin-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .img-demo {
    opacity: 0.6;
  }
  
  .ntive,
  .img-demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* -----------------------------------------------------------galary----------------------------------------------- */
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.gtive {
    background-color: #666;
    color: white;
  }
  /* -----------------------------------footer----------------------------- */
footer{
  display: flex;
  margin: 30px 150px;
  color: var(--secondary-color);
  position: relative;
}
.footerDittles{
  width: 290px;
}
.footerDittles h1{
  text-align: center;
 
}
.footerDittles ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footerDittles ul li a{
  text-decoration: none;
  color: var(--secondary-color);
}
.img-slide{
  background-size: cover;
  z-index: -1;
  position: relative;
}
  /* --------------------------------------------Responsive for mobil phone----------------------------------------------------- */
  @media only screen and (max-width: 600px) {
    /* ---------------------------------------------------heder content---------------------------------------------- */
    .navber{  
      height: 100%;
      width: 250px;
      display: block;
      position: fixed;
      left: -250px;
      
    }
  #check:checked ~ .navber{
      left: 0;
    }
    .top{
      display: none;
    }
    .top-style{
      display: none;
    }
    nav{
      height: 100%;
      display: block;
      padding: 0px 15px;
      position: fixed;
      overflow-y: scroll;
    }
    nav ul li{
      border: 1px solid cyan;
      margin: 5px;
    }
    nav h1{
      border: none;
      width: 0px;
      margin: 50px 0px 0px 0px;
    }
    .demo{
      display: block;
      text-align: start;
      margin: -20;
      padding: 0;
      width: 250px;
    }
    .second-demo{
      width: 195px;
      background-color: var(--praymary-color);
    }
    .thrdline{
      margin-left: 440px;
      margin-top: 20px;
      position: fixed;
      color: cyan;
    }
    #check{
      display: block;
    }
    nav i{
      margin: 10px 0px 0px 230px;
    }
 
    /* ------------------------------------------------------futer contant----------------------------------------- */
    hr{
      margin-top: 200px;
    }
    footer{
      display: block;
      color: var(--secondary-color);
      position: relative;
      margin: 10px 10px;
    }
    .footerDittles{
      width: 100%;
    }
    .footerDittles ul{
      margin: 0px 5px 0px -40px;
      text-align: center;
    }
/* --------------------------------------------------------------Home----------------------------------------------- */
    .lorem {
      padding: 1px 0px 50px 10px;
      width: 100%;
      background-color: rgb(249 250 215 / 28%);
      z-index: -1;
      margin-top: -358px;
      color: var(--secondary-color);
    }
    .lorem h1{
      font-size: 30px;
    }
    .computerTecnology {
      background-color: darkslategrey;
      color: white;
      height: 210px;
      width: 100%;
      margin-top: 222px;
    }
    .computerTecnology .all-sit{
      display: block;
      padding: 0;
    }
    .computerTecnology .left-sit{
      padding: 10px;
      margin-top: -95px;
    }
    .computerTecnology .rit-sit {
      padding: 5px 0px 5px 0px;
      margin-top: 40px;
    }
    .computerTecnology .rit-sit img{
      height: 200px;
      width: 100%;
    }
    .left-style {
      height: 30px;
      width: 40%;
      background-color: greenyellow;
      border-radius: 0% 50px 0% 0%;
      text-align: center;
      color: black;
      font-size: 11px;
      margin-top: -420px;
    }
    .left-style h1 {
      margin: 11px 0px 0px 0px;
      padding-top: 5px;
    }

  }
  /* --------------------------------------------------------Responsive for tablet------------------------------------------------ */
  
